@charset "utf-8";
/*
1.改模板的颜色.panel .panelContent { border-color:#}全部为目标颜色
2.改body的background
3.改图片的路径
4.改 #sidebar_s .collapse和#sidebar_s .collapse:hover颜色
5.改.tree .selected { background:#d0fc68;}颜色
*/
/* Icon */
.tabsHeader li.main a span span, #taskbar li .taskbutton span { background:url(../default/images/icon.png) no-repeat;}

/* Panel */
.panel,
.panel .panelHeader, .panel .panelHeaderContent, .panel .panelHeaderContent h1,
.panel .panelFooter, .panel .panelFooterContent { background:url(../purple/images/panel/panel.png) no-repeat;}
.panel .expandable, .panel .collapsable { background:url(../purple/images/panel/panel_icon.png) no-repeat;}
.panel .panelHeaderContent h1 { color:#2d3f00; }
.panel .panelContent { border-color:#e29de2; background:#F9E8F9;}

.panel .grid { border-color:#E29DE2;}

/* Tabs */
.tabs, .tabsHeader, .tabsHeaderContent,
.tabs .tabsHeader ul, .tabs .tabsHeader li, .tabs .tabsHeader li a, .tabs .tabsHeader li span,
.tabs .tabsFooter, .tabs .tabsFooterContent { background:url(../purple/images/tabs/tabspanel.png) no-repeat;}

.tabs .tabsHeader li a { color:#2d3f00;}
.tabs .tabsHeader li span { color:#2d3f00;}
.tabs .tabsContent { border-color:#e29de2; background:#F9E8F9;}

/* TabsPage */
.tabsPage .tabsPageHeader, .tabsPage .tabsPageHeader li, .tabsPage .tabsPageHeader li a, .tabsPage .tabsPageHeader li span { background:url(../purple/images/tabs/tabspage.png) no-repeat;}
.tabsPage .tabsPageHeader { background-color:#e9f0f2;}
.tabsPage .tabsPageHeader { border-color:#e29de2;}
.tabsPage .tabsPageHeader li a { color:#2d3f00;}
.tabsPage .tabsPageHeader li .close,
.tabsPage .tabsPageHeader li.hover .close,
.tabsPage .tabsPageHeader li.selected .close { background:url(../purple/images/tabs/tabspage_icon.png) no-repeat;}
.tabsPage .tabsLeft, .tabsPage .tabsRight, .tabsPage .tabsMore { background:url(../purple/images/tabs/tabscontrol.png) no-repeat;}
.tabsPage .tabsMoreList { border-color:#E29DE2; background:#FFF;}
.tabsPage .tabsPageHeader .home_icon { background:url(../default/images/icon.png) no-repeat;}
.tabsPage .tabsPageContent { border-color:#e29de2; background:#FFF;}

/* Alert */
.alert .alertFooter, .alert .alertFooter_r, .alert .alertFooter_c { background:url(../purple/images/alert/alertpanel.png) no-repeat;}
.alert .alertContent { border-color:#b8d0d6; background:#eef4f5;}
.alert .warn .alertInner { border-color:#e83e09; background:#fefacf;}
.alert .error .alertInner { border-color:#e50000; background:#fefacf;}
.alert .correct .alertInner, .alert .info .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert .confirm .alertInner { border-color:#b8d0d6; background:#fefacf;}
.alert h1 { background:url(../default/images/alert/alertpanel_icon.png) no-repeat;}

/* Dialog */
.dialog .dialogHeader, .dialog .dialogHeader_r, .dialog .dialogHeader_c,
.dialog .dialogFooter, .dialog .dialogFooter_r, .dialog .dialogFooter_c { background:url(../purple/images/dialog/dialogpanel.png) no-repeat;}
.dialog .dialogHeader h1, .dialog .dialogHeader .close, .dialog .dialogHeader .maximize, .dialog .dialogHeader .restore, .dialog .dialogHeader .minimize, .resizable_f_r { background:url(../purple/images/dialog/dialogpanel_icon.png) no-repeat;}
.dialog .dialogHeader h1 { color:#2d3f00;}
.dialog .dialogContent { border-color:#e29de2; background:#F9E8F9;}

.resizable { border-color:#3b6200; background:#aae31d;}

/* Shadow */
.shadow .shadow_h_l { background:url(../default/images/shadow/shadow_h_l.png) no-repeat;}
.shadow .shadow_h_r { background:url(../default/images/shadow/shadow_h_r.png) no-repeat;}
.shadow .shadow_h_c { background:url(../default/images/shadow/shadow_h_c.png) repeat-x;}
.shadow .shadow_c_l { background:url(../default/images/shadow/shadow_c_l.png) repeat-y;}
.shadow .shadow_c_r { background:url(../default/images/shadow/shadow_c_r.png) repeat-y;}
.shadow .shadow_c_c { background:url(../default/images/shadow/shadow_c_c.png) repeat;}
.shadow .shadow_f_l { background:url(../default/images/shadow/shadow_f_l.png) no-repeat;}
.shadow .shadow_f_r { background:url(../default/images/shadow/shadow_f_r.png) no-repeat;}
.shadow .shadow_f_c { background:url(../default/images/shadow/shadow_f_c.png) repeat-x;}

/* Tree */
.tree div div { background:url(../default/images/tree/tree.png) no-repeat;}
.tree .folder_collapsable, .tree .folder_expandable, .tree .file {background:transparent url(../default/images/tree/folder.png) no-repeat scroll 0 0;}
.tree .checked, .tree .unchecked, .tree .indeterminate { background:url(../default/images/tree/check.png) no-repeat;}
.tree ul { background:#FFF;}
.tree li a, .tree li span { color:#2d3f00;}
.tree .hover { background:#f6f6f6;}
.tree .selected { background:#F9E8F9;}
/* Accordion */
.accordion .accordionHeader, .accordion .accordionHeader h2, .accordion .accordionHeader h2 span { color:#2d3f00; background:url(../purple/images/accordion/accordion.png);}
.accordion { border-color:#e29de2; background:#FFF;}
.accordion .accordionHeader { background-color:#eaf4ff;}
.accordion .accordionContent { border-color:#e29de2;}

/* Grid */
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.panelBar .pagination, .panelBar .pagination li.hover, .panelBar .pagination li.hover a, .panelBar .pagination li span,
.panelBar .pagination li.disabled span span,
.panelBar .line, .panelBar .pagination li.jumpto, .panelBar .pagination li.jumpto .goto { background:url(../purple/images/grid/grid.png) no-repeat;}

.panelBar { border-color:#e29de2; background-color:#efefef;}

.grid .gridHeader { background:#EEE;}
.grid { background:#FFF;}
.grid table { border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(../default/images/grid/tableth.png) repeat-x;}
.grid table th div { border-left-color:#EEE; border-right-color:#d0d0d0;}
.grid table td { border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy { background:url(../default/images/grid/resizeCol.png) repeat-y;}

.grid .gridRowBg { background:#f7f7f7;}
.grid .hover { background:#f6f6f6;}
.grid .selected { border-color:#C00; background:#e29de2;}
.grid .error{background:#fb7e81;}

/* ProgressBar */
.progressBar { border:solid 2px #86a5ad; background:#FFF url(../default/images/progressBar/progressBar_m.gif) no-repeat 10px 10px;}

/* ----------------------------------------------------------------- Form */
/* TextInput */
.textInput, input.focus, input.required, input.error, input.readonly, input.disabled,
textarea.focus, textarea.required, textarea.error, textarea.readonly, textarea.disabled { background:url(../default/images/form/input_bg.png) no-repeat scroll;}

.textInput, .textArea { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.required, textarea.required { border-color:#a2bac0 #b8d0d6 #b8d0d6 #a2bac0; background-color:#FFF;}
input.error, textarea.error { border-color:#F80C11 #FB7E81 #FB7E81 #F80C11;}
input.focus, textarea.focus { border-color:#64aabc #a9d7e3 #a9d7e3 #64aabc; background-color:#f8fafc;}
input.readonly, textarea.readonly { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}
input.disabled, textarea.disabled { border-color:#9eabb3 #d5dbdf #d5dbdf #9eabb3; background-color:#F6F6F6;}

.inputButton, .inputDateButton { background:url(../default/images/form/input_bt.png) no-repeat;}

/* Button */
.button, .button span,
.buttonDisabled, .buttonDisabled span,
.buttonActive, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonActiveHover, .buttonActiveHover .buttonContent,
.buttonDisabled .buttonContent { background:url(../purple/images/button/button_s.png) no-repeat;}

.button span, .buttonDisabled span, .buttonActive span,
.button .buttonContent, .buttonHover, .buttonHover .buttonContent,
.buttonActive .buttonContent, .buttonDisabled .buttonContent,
.button button, .buttonHover button,
.buttonActive button, .buttonDisabled button { color:#2d3f00;}

.buttonDisabled span, .buttonDisabled:hover span,
.buttonDisabled button { color:#999;}

/* ----------------------------------------------------------------- Pages */
/* Layout */
body, #splitBar { background:#F9E8F9;}
#splitBarProxy { border-color:#c0c0c0; background:#CCC;}

#header, #header .headerNav { background:url(../purple/images/header_bg.png) repeat-x;}
#header { background-color:#5b9700;}
#header .logo { background:url(../default/images/logo.png) no-repeat;}
#header .text { color: #f1f1f1;}
#header .nav li { float:left; margin-left:-1px; padding:0 8px; line-height:11px; background:url(../purple/images/listLine.png) no-repeat; color:#FFF;}
#header .nav li a { color:#FFF;}
#header .themeList li div { background:url(../default/images/themeButton.png) no-repeat;}

.toggleCollapse, .toggleCollapse div { background:url(../purple/images/layout/toggleSidebar.png) no-repeat;}
.toggleCollapse { border-style:solid; border-width:1px 1px 0 1px; border-color:#e29de2; background-color:#e7eff0;}
.toggleCollapse h2 { color:#2d3f00;}
#sidebar_s .collapse { border:solid 1px #e29de2; background:#F9E8F9;}
#sidebar_s .collapse:hover { background:#F9E8F9;}

#taskbar, #taskbar li, #taskbar li .taskbutton { background:url(../default/images/layout/taskbar.png) no-repeat;}
#taskbar .close, #taskbar .restore, #taskbar .minimize { background:url(../default/images/layout/taskbar_icon.png) no-repeat;}
#taskbar li .taskbutton span { color:#FFF;}
#taskbar .taskbarLeft, #taskbar .taskbarRight { background:url(../default/images/layout/taskbar_control.png) no-repeat;}

/* Menu */
#navMenu, #navMenu li, #navMenu li.selected a, #navMenu li.selected span { background:url(../default/images/menu/menu.png) no-repeat;}
#navMenu { background-color:#1871dd; }
#navMenu li a, #navMenu li span { color:#FFF; }
#navMenu li.selected span { color:#000; }

/* Homepage */
.sidebarContent { display:block; overflow:auto; height:500px; border:solid 1px #86B4EC; background:#FFF;}
.accountInfo { display:block; overflow:hidden; height:60px; padding:0 10px; background:url(../default/images/account_info_bg.png) repeat-x}
.accountInfo p { padding:8px 0 0 0; line-height:19px;}
.accountInfo p span { font-size:14px; font-weight:bold;}
.accountInfo .right { float:right; padding-right:10px; text-align:right;}
.accountInfo .alertInfo { float:right; width:300px; height:60px; padding-left:10px; border-left:solid 1px #accdf4;}
.accountInfo .alertInfo h2 { padding:8px 0; line-height:17px;}
.accountInfo .alertInfo a { padding:6px 0 0 0; line-height:21px;}

/* Pages */
.pageForm .inputInfo { color:#999;}

/* Pages dialog */
.dialog .pageHeader, .dialog .pageContent { border-color:#E29DE2;}
.dialog .pageContent .pageFormContent { border-color:#E29DE2; background:#FFF;}

/* Pages default */
.page .pageHeader, .formBar { border-color:#E29DE2; background:#ebf0f5 url(../default/images/pageHeader_bg.png) repeat-x;}
.page .searchBar label { color:#183152;}

/* Pages Form */
.formBar { border-color:#E29DE2;}
.divider { border-color:#E29DE2;}

/* combox */
.combox .select a  { color:#183152; }
.comboxop { border-color:#B8D0D6; }
.combox, .combox div, .combox div a { background:url(../default/images/search-bg.gif) no-repeat; }
