/*swfupload的flash的外部样式*/
.swfuploadbtn{float: left;width: 140px;height: 18px;border: solid 1px #7FAAFF;background-color: #C5D9FF;padding: 1px;margin: 0 0 0 4px;}
.fieldset{float: left; width: 80px; text-align: left; color: #555555;padding-top: 4px; padding-left: 6px;}

.nolabelstyle label{
    float: none;
    width: auto;
    height: auto;
    position: relative;
    bottom: 2px;
    right: 4px;
}

/* style for statistics*/
.flash_chart{
    float: left;
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.stat_total{
    float: left;
    width: 100%;
    height: auto;
}
.stat_total .stat_tb{
    float: left;
    display: inline;
    width: 32%;
    min-width: 200px;
    height: auto;
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.stat_total .stat_tb .stat_tb_title{
    float: left;
    width: 100%;
    height: 22px;
    color: #1e8edc;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Microsoft YaHei',simsun;
    border-bottom: 1px #cccccc solid;
    text-align: center;
    padding-top: 2px;
    background: #f7f7f7;
}
.stat_total .stat_tb .stat_tb_item{
    float: left;
    display: inline;
    width: auto;
    padding: 8px;
    font-size: 14px;
    font-family: 'Microsoft YaHei',simsun;
}
.stat_total .stat_bb{
    float: left;
    display: inline;
    width: 48%;
    min-width: 300px;
    height: auto;
    border: 1px solid #cccccc;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}
.stat_total .stat_bb .stat_bb_title{
    float: left;
    width: 100%;
    height: 22px;
    color: #1e8edc;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Microsoft YaHei',simsun;
    border-bottom: 1px #cccccc solid;
    text-align: center;
    padding-top: 2px;
    background: #f7f7f7;
}
.stat_total .stat_bb .stat_bb_url{
    float: left;
    display: inline;
    padding-left: 8px;
    width: 80%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    font-family: 'Microsoft YaHei',simsun;
    height: 22px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px #cccccc dashed;
}
.stat_total .stat_bb .stat_bb_num{
    float: left;
    display: inline;
    padding-left: 8px;
    width: 17%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size: 14px;
    font-family: 'Microsoft YaHei',simsun;
    height: 22px;
    padding-top: 2px;
    padding-bottom: 3px;
    border-bottom: 1px #cccccc dashed;
}
.stat_even{
    background: #f2f2f2;
}
.attachmentlist{
    float: left;
}
.attachmentlist li{
    float: left;
    clear: both;
    margin-left: 130px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    height: 18px;
    line-height: 12px;
    border: solid 1px #7FAAFF;
    background-color: #e9f5ff;
    nowarp: nowarp;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
}
.attachmentlist li span{
    color: #cc0000;
    font-size:18px;
    padding-left: 4px;
    margin-left: 10px;
    cursor: pointer;
}

/* just hide the unuse param */
dl.justh{
    display: none;
}