@charset "utf-8";
/* CSS Document */

body{ background:url(/images/login/loginform_bg.gif) repeat-x; padding:0;  margin:0 auto;}
.loginform{margin-top:100px; display:block;}
.loginform_bg{ position: relative;background:url(/images/login/loginform.png) no-repeat; width:375px; height:215px; padding:140px 80px 20px; margin:0 auto;}
.loginform_logo{position: absolute;top:28px;left: 70px;background: url(/images/login/loginform_logo.png) no-repeat;width: 180px;height:70px;overflow: hidden;}
.msg_ico,
.loginform_txt,
.loginform_btn{background:url(/images/login/loginform_ico.gif) no-repeat;border:0; }
.msg_ico{ background-position:0 -90px; font-size:13px; padding-left:20px; height:20px; width:260px; float:left; line-height:20px;color:#ff0000;}
.loginform_txt{ background-position:0 0; height:35px; width:240px; line-height:35px; padding:0 5px 0;}
.loginform_btn{ background-position:0 -43px; width:95px; height:37px;}

#header,#footer{display:none;}